*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.head
{
    display:flex;
    justify-content:space-between;
    text-align: center;
    background-color: rgb(9, 9, 80);
    color: whitesmoke;
    font-size: 0.7rem;
}
.head p
{
    margin-left: 17%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.head ul
{
    display:flex;
    list-style: none;
    margin-left: 17%;
    margin-right: 13%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.head ul li
{
    margin-right: 1rem;
}
.head ul li:hover
{
    transform: scale(1.1);
}
.head2
{
    display:flex;
    justify-content:space-between;
    text-align: center;
    color: whitesmoke;
}
.head2 p
{
    margin-left: 17%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}
.head2 ul
{
    display:flex;
    list-style: none;
    margin-right: 13%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.head2 ul li
{
    margin-right: 1.2rem;
    font-size: 0.85rem;
}
.head2 ul li:hover
{
    transform: scale(1.1);
}
.head3
{
    display: flex;
    color:whitesmoke;
    margin-left: 17%;
    margin-right: 13%;
}
.head3 .img
{
    margin-top: 2rem; 
    margin-bottom: -1.5rem;
}
.head3 p
{
    font-size: 2rem;
    margin-top: 2rem;
}
.head3 .h
{
    margin-left: 20%;
}
.head3 .h .input
{
    display: flex;
    justify-content: space-around;
    padding: 0.3rem;
}
.head3 .h .input .ip
{
    display: flex;
    margin-top: 1rem;
    height: 1.5rem;
    width: 13rem;
    background-color: rgb(15, 15, 66);
    border: 0px none ;
    margin-right: 0.7rem;
}
.ip::-webkit-input-placeholder{
    color: rgb(230, 228, 225);
}
.head3 .h button
{
    float: right;
    padding: 0.5rem;
    border: 0.2rem solid red;
    margin-right: 5%;
}
@media screen and (max-width:768px)
{
    .head3 .img
    {
        display: none;
    }
     .head3 .h
    {
        margin-left: 0%;
    }
    .head3 p
    {
        margin-left: 0%;
    }
    .head3 .h .input .ip
    {
        width: 10rem;
    }
}
.row
{
    display: grid;
    margin-top: 3rem;
    padding-bottom: 30px;
    margin-left: 17%;
    margin-right: 12%;
    grid-template-columns: 1fr 1fr 1fr;
}
.row .column {
    margin-right: 2rem;
    line-height: 1.2;
  }
  @media screen and (max-width:1100px)
  {
      .row
      {
          grid-template-columns: 1fr;
          margin-left: 11%;
      }
      .row .column
      {
        margin-left: 35px;
        margin-bottom: 50px;
      }
  }
.row .column ul
{
    color: navy;
}
.row .column .p
{
    font-size: 2rem;
    margin-bottom: 0.8rem;
}
.row .column ul li p,li
{
    margin-top: 0.7rem;
}
.border
{
    display: grid;
    margin-top: 3rem;
    margin-left: 17%;
    margin-right: 13%;
    background-color:rgb(38, 66, 102) ;
    color: white;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.border .column1 {
    margin-right: 4rem;
    width: 100%;
    line-height: 1.2;
  }
  @media screen and (max-width:1100px)
  {
      .border
      {
          grid-template-columns: 1fr;
      }
      .border .column1
      {
        margin-left: 35px;
        margin-bottom: 50px;
      }
  }
.border .column1 p
{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}
.border .column1 ul
{
    margin-top: 25px;
    font-size: 11.5px;
}
.border .column1 ul li
{
    margin-left: 0.7rem;
}
.sfooter 
{
    display: grid;
    margin-top: 3rem;
    margin-left: 17%;
    margin-right: 13%;
    grid-template-columns: 1fr 2fr;
}
.sfooter .column2 
{
    justify-content: flex-start;
}
@media screen and (max-width:1100px)
{
    .sfooter
    {
        grid-template-columns: 1fr;
        margin-left: 11%;
    }
    .sfooter .column2
    {
      margin-left: 35px;
      margin-bottom: 50px;
    }
}
.sfooter .column2 ul
{
    list-style: none; 
    font-size: 11px;
}
.sfooter .column2 ul .li
{
    display: flex; 
    border: 1px solid grey; 
    padding:0.4rem;
}
.sfooter .column2 ul .li .ul
{
    list-style: none; 
    margin-left: 0.4rem;
}
.sfooter .column3 
{
    justify-content: flex-start;
    margin-left: 2rem;
    overflow: auto;
}
.sfooter .column3 ul
{
    display: flex;
    list-style: none;
}
.sfooter .column3 ul img
{
    width: 4.8rem;
    margin-right: 0.5rem;
}
.t 
{
    margin-top: 2.5rem;
    height:1rem;
    background-color: rgb(202, 199, 199);
}
.footer
{
    display: grid;
    color: white;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 7.5%;
}
.footer .column4
{
    float:left;
}
@media screen and (max-width:1100px)
{
    .footer
    {
        grid-template-columns: 1fr;
        margin-left: -1%;
    }
    .footer .column4
    {
      margin-left: 17%;
      margin-bottom: 50px;
    }
}
.footer .column4 p
{
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
}
.footer .column4 ul
{
    line-height: 1.3;
    margin-top: 25px;
    font-size: 11.5px;
}
.footer .column4 ul li
{
    margin-top: 0.3rem;
}
.c
{
    background-color: rgb(13, 26, 75);
}
.c p
{
    margin-left: 16%;
    color:white;
    padding: 1rem;
    font-size: 0.7rem;
}
